version: '3.8'
services:
  database:
    image: postgres:18.1-alpine3.22
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      -db_volume:/var/lib/postgresql/data
    shm_size: 256mb
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - InternalNetwork
    
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: tracker_app
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    depends_on:
      - database
    environment:
      - name=value
    command: uvicorn main:app --host 0.0.0.0 --port 7000 --reload
    networks:
      - InternalNetwork

volumes:
  db_volume:

networks:
  InternalNetwork:
    driver: bridge